---
import Container from "@components/common/Container.astro";
---

<div class="bg-neutral-100">
  <Container classList={["lg:py-12 py-6"]}>
    <div class:list={["flex flex-col lg:flex-row", "gap-6"]}>
      <div class="lg:w-[25%]">
        <div class="lg:text-3xl text-2xl font-medium">學製綜覽</div>
        <p class="lg:text-4xl text-3xl leading-snug font-semibold pt-6">
          基神設有12種不同的學位認證，讓每一位學生都能選擇適合自己的課程。
        </p>
      </div>
      <div class="grow"></div>
    </div>
  </Container>
</div>
