---
import "@libs/faculty";
import { type FacultyMetadata, getFacultyMetadata } from "@libs/faculty";
import { Language, T } from "@libs/language";
import Widget from "./Widget.astro";
import type { Messages } from "./FacultyRow";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const faculty = getFacultyMetadata(language, ["faculty"]);
const messages: Messages = {
  course_prefix: T("course_prefix", language),
  course_separator: T("course_separator", language),
  position_prefix: T("position_prefix", language),
  position_separator: T("position_separator", language),
};
---

<Widget
  title={T("faculty_members", language)}
  classNames={["bg-[#291F1F] text-white"]}
  moreLink={`/${language}/academic/faculty`}
  moreText={T("more", language)}
>
  <div class="mb-5 mt-2 text-xl">
    <span class="py-1 border-white border-b">
      {T("faculty", language)}
    </span>
  </div>
</Widget>
