.faculty-row {
  .swiper-slide {
    @apply w-52 select-none;
  }

  .swiper-wrapper {
    @apply pb-2;
  }

  .swiper-scrollbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;

    .swiper-scrollbar-drag {
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
  }
}
