---
import Widget from "./Widget.astro";
import Carousel, { Props as CarouselProps } from "./Carousel";
import type { Language } from "@libs/language";
import { T } from "@libs/language";
import { getCollection } from "astro:content";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const carouselProps: CarouselProps = {
  items: [
    {
      link: "#",
      image: "/carousel/2023-Spring-class.jpg",
    },
    {
      link: "#",
      image: "/carousel/2023spring-recruitment.jpg",
    },
    {
      link: "#",
      image: "/carousel/CWTS-day.jpg",
    },
    {
      link: "#",
      image: "/carousel/MCM-online.jpg",
    },
  ],
};

const news = await Promise.all(
  (
    await getCollection("news")
  )
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4)
    .map(async (page) => ({
      title: page.data.title,
      thumbnail: page.data.thumbnail,
      url: page.data.url,
      Content: (await page.render()).Content,
    }))
);
---

<style is:global>
  :root {
    --swiper-navigation-color: white !important;
    --swiper-theme-color: white !important;
    --swiper-pagination-bullet-inactive-color: #aaa;
    --swiper-navigation-size: 24px;
    --swiper-pagination-space: 36px;
    --swiper-navigation-sides-offset: 12px;
  }
  @media (min-width: 768px) {
    :root {
      --swiper-navigation-size: 42px;
      --swiper-navigation-sides-offset: 20px;
    }
  }
  .swiper {
    padding-bottom: var(--swiper-pagination-space);
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 0;
    margin-top: 0;
    height: calc(100% - var(--swiper-pagination-space));
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    margin-top: auto;
    margin-bottom: auto;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
    padding-left: var(--swiper-navigation-sides-offset, 10px);
    padding-right: calc(var(--swiper-navigation-size) / 2);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    );
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
    padding-right: var(--swiper-navigation-sides-offset, 10px);
    padding-left: calc(var(--swiper-navigation-size) / 2);
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0)
    );
  }
</style>

<Widget
  title={T("latest_news", language)}
  moreText={T("more_news", language)}
  moreLink="#"
  widgetClass={["bg-darkviolet text-white"]}
  moreClass={["border-none bg-white text-darkviolet"]}
>
  <Carousel items={carouselProps.items} client:idle />

  <div
    class:list={[
      "flex gap-3 scrollbar-hide pt-4",
      "lg:justify-between",
      "max-lg:overflow-x-auto",
    ]}
  >
    {
      news.map((item) => (
        <div class="w-[12.5rem] shrink-0">
          <a href={item.url}>
            <div>
              <img width="200" height="110" src={item.thumbnail} />
            </div>
            <div class="text-base py-2">{item.title}</div>
            <div class="text-xs whitespace-normal">
              <item.Content />
            </div>
          </a>
        </div>
      ))
    }
  </div>
</Widget>
