---
import Widget from "./Widget.astro";
import Carousel, { Props as CarouselProps } from "./Carousel";
import type { Language } from "@libs/language";
import { T } from "@libs/language";
import { getCollection, render } from "astro:content";
import carouselData from "@data/carousel.yml";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const carouselProps: CarouselProps = {
  items: carouselData,
};

const news = await Promise.all(
  (
    await getCollection("news")
  )
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 4)
    .map(async (page) => ({
      title: page.data.title,
      thumbnail: page.data.thumbnail,
      url: page.data.url,
      Content: (await render(page)).Content,
    }))
);
---

<Widget
  title={T("latest_news", language)}
  classNames={["bg-darkviolet text-white"]}
>
  <Carousel items={carouselProps.items} client:idle />

  <div
    class:list={[
      "flex gap-3 scrollbar-hide pt-4",
      "lg:justify-between",
      "max-lg:overflow-x-auto",
    ]}
  >
    {
      news.map((item) => (
        <div class="w-[12.5rem] shrink-0">
          <a href={item.url}>
            <div>
              <img width="200" height="110" src={item.thumbnail} />
            </div>
            <div class="text-base py-2">{item.title}</div>
            <div class="text-xs whitespace-normal">
              <item.Content />
            </div>
          </a>
        </div>
      ))
    }
  </div>
</Widget>
