---
import Widget from "./Widget.astro";
import getStudyModeWidgetData from "@libs/study_mode_widget";
import Button from "@components/common/Button.astro";
import { T } from "@libs/language";

const data = await getStudyModeWidgetData("zh");
---

<Widget
  title="上課模式"
  classNames={[
    "bg-black text-white",
    "bg-[url('/images/bg-study-mode-widget.jpg')] bg-cover bg-no-repeat bg-center",
  ]}
>
  <div class="pb-6 text-2xl">
    基督工人神學院提供在校本部的全時間修讀，部分時間修讀以及基督教聖工碩士網絡學位修讀，通過不同的方式，讓學生能夠用最方便的方式參加神學學習。
  </div>
  <div class="flex flex-col xl:flex-row gap-6 xl:gap-10">
    {
      data.map((item) => (
        <div class="xl:flex-1 rounded-lg border border-neutral-300 p-6 bg-white/95 text-darkblue">
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-xl text-darkviolet font-bold">
              {item.page.data.title}
            </h3>
            {item.page.data.url && (
              <Button
                text={T("learn_more", "zh")}
                url={item.page.data.url}
                classNames={["btn", "text-sm", "py-1", "px-3"]}
              />
            )}
          </div>
          <div class="prose prose-tabs">
            <item.Content />
          </div>
        </div>
      ))
    }
  </div>
</Widget>
