---
import Tabs from "@components/common/Tabs.astro";
import Widget from "./Widget.astro";
import { Icon } from "astro-icon/components";
import getStudyModeWidgetData from "@libs/study_mode_widget";

const data = await getStudyModeWidgetData("zh");
---

<Widget
  title="上課模式"
  classNames={[
    "bg-black text-white",
    "bg-[url('/images/bg-study-mode-widget.jpg')] bg-cover bg-no-repeat bg-center",
  ]}
>
  <div class="pb-6 text-2xl">
    基督工人神學院提供在校本部的全時間修讀，部分時間修讀以及基督教聖工碩士網絡學位修讀，通過不同的方式，讓學生能夠用最方便的方式參加神學學習。
  </div>
  <Tabs
    id="study-mode"
    classNames={[
      "tabs bg-white text-black max-md:justify-between md:px-6 px-4 rounded-lg",
    ]}
    tabClassNames={[
      "md:w-48 max-md:grow max-md:shrink",
      "flex flex-col pt-5 pb-2 px-1 items-center gap-1 cursor-pointer",
      "activetab:border-b-2 activetab:text-darkviolet border-darkviolet",
    ]}
  >
    {
      data.map((item) => (
        <>
          <tab>
            <Icon class="h-5" name="scholar" />
            <div>{item.page.data.title}</div>
          </tab>
          <panel>
            <div class="prose prose-tabs pt-3 pb-5">
              <item.Content />
            </div>
          </panel>
        </>
      ))
    }
  </Tabs>
</Widget>
