---
import Button from "@components/common/Button.astro";
import Container from "@components/common/Container.astro";
import { Language, T } from "@libs/language";

export interface Props {
  language: Language;
}
const { language } = Astro.props;
---

<div
  class="bg-[url('/images/bg-vision-and-mission.jpg')] bg-cover bg-no-repeat bg-center"
>
  <Container classList={["text-white md:py-12 py-6"]}>
    <div class="flex flex-col gap-8 lg:gap-12 md:max-w-[36rem]">
      <div>
        <div class="widget-title">{T("mission", language)}</div>
        <div class="pt-3 text-xl">{T("mission_statement", language)}</div>
      </div>
      <div>
        <div class="widget-title">{T("vision", language)}</div>
        <div class="pt-3 text-xl">{T("vision_statement", language)}</div>
      </div>
      <div class="flex gap-3">
        <Button
          url={`${language}/about/vision-and-mission`}
          text={T("learn_more", language)}
          classNames={["btn-xl"]}
        />
        <Button
          url="#"
          text={T("apply_now", language)}
          classNames={["btn-xl btn-reversed"]}
        />
      </div>
    </div>
  </Container>
</div>
