---
import Button from "@components/common/Button.astro";
import Container from "@components/common/Container.astro";
import Youtube from "@components/common/Youtube.astro";
import { type Language, T } from "@libs/language";
import Site from "@libs/site";

export interface Props {
  language: Language;
}
const { language } = Astro.props;
---

<div
  class="bg-[url('/images/bg-vision-and-mission.jpg')] bg-cover bg-no-repeat bg-center"
>
  <Container classList={["text-white lg:pt-12 lg:pb-24 pt-6 pb-12"]}>
    <div class="flex flex-col-reverse lg:flex-row gap-6">
      <div class="flex flex-col gap-8 lg:flex-initial lg:w-1/3 xl:w-1/2">
        <div>
          <div class="widget-title text-2xl">{T("mission", language)}</div>
          <div class="pt-3 text-lg">{T("mission_statement", language)}</div>
        </div>
        <div>
          <div class="widget-title text-2xl">{T("vision", language)}</div>
          <div class="pt-3 text-lg">{T("vision_statement", language)}</div>
        </div>
        <div class="flex gap-3">
          <Button
            url={`/${language}/about/vision-and-mission`}
            text={T("learn_more", language)}
            classNames={["btn-xl"]}
          />
          <Button
            url={T("apply_url", language)}
            text={T("apply_now", language)}
            classNames={["btn-xl btn-reversed"]}
          />
        </div>
      </div>
      <div class="lg:flex-initial lg:w-2/3 xl:w-1/2">
        <Youtube
          id={Site.coverVideoId}
          title={Site.coverVideoTitle(language)}
        />
      </div>
    </div>
  </Container>
</div>
