---
import Container from "@components/common/Container.astro";
import dataRaw from "@data/why-us.yml";
import { Language, T } from "@libs/language";
import Widget from "./Widget.astro";

export interface Props {
  language: Language;
}

type DataItem = Record<Language, string> & {
  image: string;
};

const data = dataRaw as DataItem[];

const { language } = Astro.props;
---

<Widget title={T("why_us", language)}>
  <div
    class="grid md:grid-cols-[repeat(4,max-content)] max-md:grid-cols-[repeat(2,max-content)] max-md:grid-rows-2 md:place-content-between place-content-around gap-6"
  >
    {
      data.map((item) => (
        <div class="shrink-0 text-center">
          <div class="mb-4">
            <img class="w-20 h-20 inline-block" src={item.image} />
          </div>
          <div class="text-xl">{item[language]}</div>
        </div>
      ))
    }
  </div>
</Widget>
