---
import { T, type Language } from "@libs/language";
import { getEntry } from "astro:content";
import Widget from "./Widget.astro";

export interface Props {
  language: Language;
}

type DataItem = Record<Language, string> & {
  image: string;
};

const whyUsEntry = await getEntry("why-us", "why-us");
if (!whyUsEntry) {
  throw new Error(
    "Why Us content file 'why-us.yml' not found in the 'why-us' collection. This file is required.",
  );
}
const data = whyUsEntry.data as DataItem[];

const { language } = Astro.props;
---

<Widget title={T("why_us", language)}>
  <div
    class="grid md:grid-cols-[repeat(4,max-content)] max-md:grid-cols-[repeat(2,max-content)] max-md:grid-rows-2 md:place-content-between place-content-around gap-y-6"
  >
    {
      data.map((item) => (
        <div class="shrink-0 flex flex-col items-center gap-3">
          <img class="w-20 h-20 inline-block" src={item.image} />
          <div class="text-xl">{item[language]}</div>
        </div>
      ))
    }
  </div>
</Widget>
