---
import Container from "@components/common/Container.astro";
import Button from "@components/common/Button.astro";

export interface Props {
  title: string;
  moreText?: string;
  moreLink?: string;
  classNames?: string[];
  titleClass?: string[];
  moreClass?: string[];
  moreArrowClass?: string[];
}

const {
  title,
  moreText,
  moreLink,
  classNames,
  titleClass,
  moreClass,
  moreArrowClass,
} = Astro.props;
---

<div class:list={[...(classNames || [])]}>
  <Container classList={["lg:py-12 py-6"]}>
    <div
      class:list={[
        "flex flex-nowrap justify-between items-center md:pb-6 pb-5",
      ]}
    >
      <div class:list={["widget-title", ...(titleClass || [])]}>
        {title}
      </div>
      {
        moreText && (
          <div class="flex shrink-0">
            <Button
              url={moreLink}
              text={moreText}
              classNames={["btn-xl", ...(moreClass || [])]}
            />
          </div>
        )
      }
    </div>
    <slot />
  </Container>
</div>
