---
import Shortcuts from "./Shortcuts.astro";
import logoImage from "@assets/main-logo-black.svg";
---

<header class="lg:max-w-screen-lg mx-auto">
    <div class="flex mt-4 items-stretch">
        <div class="p-2 grow-0 mx-auto md:mx-0">
            <a href="/" title="Rooted in Scripture, Diligent in Prayer">
                <img src={logoImage} width="300" />
            </a>
        </div>
        <div class="p-2 grow hidden lg:flex flex-col justify-between items-end">
            <Shortcuts
                rootClassName="flex justify-end list-none gap-3 items-center"
                buttonClassName="py-0.5 px-3 rounded-full outline outline-1 outline-gray-500"
            />
            <div>nav</div>
        </div>
    </div>
    <div class="basis-full p-1 border-t-2 border-purple-900 hidden lg:block">
        language search
    </div>
</header>
