---
import Shortcuts from "./Shortcuts.astro";
import Navbar from "./Navbar.astro";
import logoImage from "@assets/main-logo-black.svg";
---

<header class="lg:max-w-screen-lg mx-auto">
    <div class="flex mt-4 items-stretch gap-5">
        <div class="p-2 grow-0 mx-auto md:mx-0">
            <a href="/" title="Rooted in Scripture, Diligent in Prayer">
                <img src={logoImage} width="300" />
            </a>
        </div>
        <div
            class="p-0.5 grow hidden lg:flex flex-col justify-between items-end"
        >
            <Shortcuts />
            <Navbar />
        </div>
    </div>
    <div class="basis-full p-1 border-t-2 border-purple hidden lg:block">
        language search
    </div>
</header>
