---
import LanguagePicker from "./LanguagePicker.astro";
---

<div
    class="bg-violet lg:hidden fixed md:top-0 md:bottom-auto top-auto bottom-0 md:h-12 h-16 w-full text-white text-lg py-2 px-6"
>
    <div class="flex w-full h-full justify-between items-center">
        <LanguagePicker />
    </div>
</div>
