---
import LanguagePicker from "./LanguagePicker.astro";
import { Icon } from "astro-icon";
---

<div id="menuContainer" class="group/menu">
  <div
    class="flex flex-col bg-violet lg:hidden fixed md:top-0 max-md:bottom-0 md:h-12 h-16 w-full text-white text-lg px-6 overflow-hidden over group-[.menu-on]/menu:h-full transition-all motion-reduce:transition-none"
  >
    <div
      class="flex w-full md:h-12 h-16 justify-between items-center grow-0 shrink-0"
    >
      <LanguagePicker />
      <div class="flex">
        <a id="menuToggler">
          目錄
          <Icon
            class="group-[.menu-on]/menu:hidden inline h-4 text-white align-baseline"
            name="menu"
          />
          <Icon
            class="group-[.menu-on]/menu:inline hidden h-4 text-white align-baseline"
            name="close"
          />
        </a>
      </div>
    </div>
    <div class="grow overflow-y-scroll">
      <p>Item 1</p>
      <p>Item 2</p>
      <p>Item 3</p>
      <p>Item 4</p>
      <p>Item 5</p>
      <p>Item 6</p>
      <p>Item 7</p>
    </div>
    <div>Menu footer</div>
  </div>
</div>
<script>
  document.getElementById("menuToggler")?.addEventListener("click", () => {
    document.getElementById("menuContainer")?.classList.toggle("menu-on");
  });
</script>
