---
import OptionalLink from "@components/common/OptionalLink.astro";
import NavbarDropdown from "./NavbarDropdown.astro";
import menu from "@data/menu";
---

<ul class="list-none flex relative">
  {
    menu.map((topItem) => (
      <>
        <li class="group/nav block px-2 py-1 text-purple hover:bg-purple hover:text-white cursor-pointer shrink-0">
          <OptionalLink link={topItem} />

          {topItem.children && (
            <div class="opacity-0 h-0 absolute top-full right-0 w-full z-50 cursor-auto group-hover/nav:opacity-100 group-hover/nav:h-auto transition-all motion-reduce:transition-none">
              <NavbarDropdown items={topItem.children} />
            </div>
          )}
        </li>
      </>
    ))
  }
</ul>
