---
import OptionalLink from "@components/common/OptionalLink.astro";
import type { MenuItem } from "@data/menu";

export interface Props {
  items: MenuItem[];
  singleColumn?: boolean;
}

const { items, singleColumn = false } = Astro.props;

if (items.length == 0) return null;

const bigMenu: boolean = items[0].children != null;
---

{
  bigMenu ? (
    <div class="bg-maxpurple flex flex-row flex-wrap p-1.5">
      {items.map((item) => (
        <div
          class:list={[
            "p-0.5 grow",
            {
              "basis-1/3": !singleColumn,
              "basis-full": singleColumn,
            },
          ]}
        >
          <div class="font-medium">
            <OptionalLink link={item} />
          </div>
          {item.children && (
            <ul class="text-sm leading-4 ml-2">
              {item.children.map((subItem) => (
                <li class="py-1">
                  <OptionalLink link={subItem} />
                </li>
              ))}
            </ul>
          )}
        </div>
      ))}
    </div>
  ) : (
    <ul class="bg-maxpurple flex flex-row flex-wrap p-1.5">
      {items.map((item) => (
        <li
          class:list={[
            "p-0.5",
            "font-medium",
            {
              "basis-1/3": !singleColumn,
              "basis-full": singleColumn,
            },
          ]}
        >
          <OptionalLink link={item} />
        </li>
      ))}
    </ul>
  )
}
