---
import OptionalLink from "@components/common/OptionalLink.astro";
import NavbarDropdown from "./NavbarDropdown.astro";
import menu from "@data/menu";
---

<style>
    li:hover :global(.dropdown) {
        opacity: 1;
        transform: scaleY(1);
    }
</style>

<ul class="list-none flex relative">
    {
        menu.map((topItem) => (
            <>
                <li class="block px-2 py-1 text-purple hover:bg-purple hover:text-white cursor-pointer shrink-0">
                    <OptionalLink link={topItem} />

                    {topItem.children && (
                        <div class="dropdown opacity-0 scale-y-0 absolute top-full right-0 w-full z-50 cursor-auto transition-[opacity] duration-200 motion-reduce:transition-none">
                            <NavbarDropdown items={topItem.children} />
                        </div>
                    )}
                </li>
            </>
        ))
    }
</ul>
