---
import OptionalLink from "@components/common/OptionalLink.astro";
import NavbarDropdown from "./NavbarDropdown.astro";
import menu from "@data/menu";
---

<style>
    li:hover :global(.dropdown) {
        display: block;
    }
</style>

<ul class="list-none flex relative">
    {
        menu.map((topItem) => (
            <>
                <li class="block px-2 py-1 text-purple hover:bg-purple hover:text-white cursor-pointer">
                    <OptionalLink link={topItem} />

                    {topItem.children && (
                        <div class="dropdown hidden absolute top-full right-0 w-full z-50 cursor-auto">
                            <NavbarDropdown items={topItem.children} />
                        </div>
                    )}
                </li>
            </>
        ))
    }
</ul>
