---
const menuItems = [
    "首頁",
    "認識基神",
    "成爲學生",
    "學生資源",
    "培育中心",
    "基督徒教育大會",
    "基督工人論壇",
    "學院動態",
];
---

<style>
    ul > li:hover > ul {
        display: flex;
    }
</style>

<ul class="list-none flex relative">
    {
        menuItems.map((item) => (
            <>
                <li class="block px-1.5 py-1 text-purple hover:bg-purple hover:text-white cursor-pointer">
                    {item}
                    <ul class="absolute top-full left-0 w-full bg-violet z-50 hidden cursor-auto p-2 justify-around">
                        <li>{item}</li>
                        <li>{item}</li>
                    </ul>
                </li>
            </>
        ))
    }
</ul>
