---
import { Icon } from "astro-icon";
import shortcuts from "@libs/shortcuts";
---

<ul class="flex justify-end list-none gap-6 items-baseline font-medium">
  {
    shortcuts.map((item) => {
      switch (item.type) {
        case "button":
          return (
            <li class="shrink-0">
              <a
                href={item.url}
                class="py-1.5 px-4 rounded-lg border border-gray-400"
              >
                {item.name}
                <Icon
                  class="inline h-4 text-rebeccapurple align-text-bottom"
                  name="angle-right"
                />
              </a>
            </li>
          );
        default:
          return (
            <li class="shrink-0">
              <a class="text-rebeccapurple" href={item.url}>
                {item.name}
              </a>
            </li>
          );
      }
    })
  }
</ul>
