---
import getShortcuts from "@libs/shortcuts";
import { Icon } from "astro-icon";
import type { Language } from "@libs/language";
import Button from "@components/common/Button.astro";

export interface Props {
  language: Language;
}

const { language } = Astro.props;

const shortcuts = getShortcuts(language);
---

<ul class="flex justify-end list-none gap-6 items-baseline font-medium">
  {
    shortcuts.map((item) => {
      switch (item.type) {
        case "button":
          return (
            <li class="shrink-0">
              <Button
                url={item.url}
                text={item.name}
                classNames={["btn-gray btn-arrow-rebeccapurple"]}
              />
            </li>
          );
        default:
          return (
            <li class="shrink-0">
              <a class="text-rebeccapurple" href={item.url}>
                {item.name}
              </a>
            </li>
          );
      }
    })
  }
</ul>
