---
import shortcuts from "@data/shortcuts";
---

<ul class="flex justify-end list-none gap-4 items-baseline">
    {
        shortcuts.map((item) => {
            switch (item.type) {
                case "button":
                    return (
                        <li>
                            <a
                                href={item.url}
                                class="py-0.5 px-3 rounded-full border border-1 border-gray-500"
                            >
                                {item.name}
                            </a>
                        </li>
                    );
                default:
                    return (
                        <li>
                            <a href={item.url}>{item.name}</a>
                        </li>
                    );
            }
            if (item.type == "button") {
            }
        })
    }
</ul>
