---
import { CollectionEntry, getCollection } from "astro:content";
import Section from "@layouts/Section.astro";
import site from "@libs/site";
import { getLanguageBySlug } from "@libs/language";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => {
    const { language, slug } = getLanguageBySlug(page.slug);
    return {
      params: {
        language,
        slug,
      },
      props: {
        page,
      },
    };
  });
}

export interface Props {
  page: CollectionEntry<"pages">;
}

const { page } = Astro.props;
const { title, coverImage = site.defaultCover } = page.data;
const { Content } = await page.render();
---

<Section
  title={title}
  slug={page.slug}
  coverImage={coverImage}
  mainImage={page.data.thumbnail}
>
  <Content />
</Section>
