---
import Base from "@layouts/Base.astro";
import { T, Language } from "@libs/language";

export function getStaticPaths() {
  return ["zh", "en"].map((language) => ({
    params: {
      language,
    },
  }));
}

const language = Astro.params.language as Language;
---

<Base title={T("search", language)} language={language}>
  <script
    async
    src=`https://cse.google.com/cse.js?cx=47728d3b7262a4617&hl=${language}`
  ></script>
  <div class="gcse-search"></div>
</Base>
