---
import { getEntryBySlug } from "astro:content";
import Container from "@components/common/Container.astro";

export interface Props {
  slug: string;
  showCurrent?: boolean;
}

const { slug, showCurrent = false } = Astro.props;

interface LinkInfo {
  title: string;
  link: string;
}

export async function getLinks(
  slug: string,
  includeCurrent: boolean
): Promise<LinkInfo[]> {
  async function getLinkInfoBySlug(s: string): Promise<LinkInfo | undefined> {
    const page = await getEntryBySlug("pages", s);
    return (
      page && {
        title: page.data.title,
        link: "/" + page.slug,
      }
    );
  }

  const parts = slug.split("/");
  const links = await Promise.all(
    parts.map((_, index) => getLinkInfoBySlug(parts.slice(0, index).join("/")))
  );
  if (includeCurrent) {
    links.push(await getLinkInfoBySlug(slug));
  }
  const result: LinkInfo[] = [];
  links.forEach((link) => {
    if (link) {
      result.push(link);
    }
  });
  return result;
}

const links = await getLinks(slug, showCurrent || false);

if (links.length == 0) return undefined;
---

<div class="bg-maxpurple text-white text-xl font-semibold">
  <Container classList={["py-2"]}>
    {
      links.map((link, index) => (
        <>
          {index > 0 && " / "}
          <a href={link!.link}>{link!.title}</a>
        </>
      ))
    }
  </Container>
</div>
