---
import listChildren from "@libs/listing";

export interface Props {
  slug: string;
}

const { slug } = Astro.props;

const children = await listChildren(slug);
if (children.length === 0) {
  return;
}
---

<aside
  class:list={[
    "not-prose gap-12 py-8",
    "grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1",
  ]}
>
  {
    children.map((child) => (
      <div class="md:w-fit w-full">
        <a href={child.url}>
          <img width="240" class="max-sm:w-full" src={child.thumbnail} />
          <div class="py-1 text-xl text-darkblue font-medium">
            {child.title}
          </div>
        </a>
      </div>
    ))
  }
</aside>
