---
import footerLogo from "@assets/main-logo-white.svg";
import { Icon } from "astro-icon/components";
import { T } from "@libs/language";
import type { Language } from "@libs/language";

export interface Props {
  language: Language;
}

const { language } = Astro.props;
---

<div
  class:list={[
    "font-ui bg-darkviolet text-white bg-contain bg-no-repeat bg-bottom",
    "bg-[url('/images/bg-footer.svg')]",
  ]}
>
  <div
    class="flex md:flex-row flex-col md:justify-between gap-8 mx-auto lg:container px-4 py-16"
  >
    <div class="flex flex-col gap-3 grow-[2]">
      <div>
        <img src={footerLogo.src} width="300" height="68.5" />
      </div>
      <div>
        <a href="https://goo.gl/maps/jRva7GkXnB9k1G7g6" target="_blank">
          <Icon
            name="location-on-outline"
            class="inline-block align-text-bottom w-5 h-5 mr-2"
          />1975 Concourse Dr, San Jose, CA 95131 USA
        </a>
      </div>    
    </div>
    <div class="flex flex-col grow">
      <div class="pb-2 border-white border-b text-2xl">
        {T("contact", language)}
      </div>
      <div class="flex justify-between flex-wrap">
        <div class="flex flex-col gap-3 py-3 sm:max-md:pr-16">
          <div class="text-xl">Main</div>
          <div>
            <a href="tel:+1-408-433-2280">
              <Icon
                name="phone"
                class="inline-block align-text-bottom w-5 h-5 mr-2"
              />(408)433-2280
            </a>
          </div>
          <div>
            <a href="mailto:admin@cwts.edu">
              <Icon
                name="email-outline"
                class="inline-block align-text-bottom w-5 h-5 mr-2"
              />admin@cwts.edu
            </a>
          </div>
        </div>
        <div class="flex flex-col gap-3 py-3 sm:max-md:pr-16">
          <div class="text-xl">Admissions</div>
          <div>
            <a href="tel:+1-408-433-2280,101">
              <Icon
                name="phone"
                class="inline-block align-text-bottom w-5 h-5 mr-2"
              />(408)433-2280 ext 101
            </a>
          </div>
          <div>
            <a href="mailto:admissions@cwts.edu">
              <Icon
                name="email-outline"
                class="inline-block align-text-bottom w-5 h-5 mr-2"
              />admissions@cwts.edu
            </a>
          </div>
        </div>
      </div>
      <ul class="flex max-md:justify-around gap-6 pt-3 max-md:px-24">
        <li>
          <a href="/images/wechat.jpg" target="_blank">
            <Icon name="wechat" class="inline-block w-9 h-9" />
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/CWTSeminary" target="_blank">
            <Icon name="facebook" class="inline-block w-9 h-9" />
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/@cwts6196" target="_blank">
            <Icon name="youtube" class="inline-block w-9 h-9" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-darkerviolet font-ui text-white text-center max-md:mb-16">
  All Content &copy; 2024 Christian Witness Theological Seminary
</div>
