---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  open?: boolean;
}
const { name, open } = Astro.props;
---

<details name={name} open={open} class="group">
  <summary
    class:list={[
      "w-full flex items-center justify-between cursor-pointer list-none marker:hidden",
    ]}
  >
    <slot name="summary" />
    <span
      class="ml-auto transform transition-transform duration-200 group-open:rotate-90"
    >
      <Icon name="angle-right" />
    </span>
  </summary>
  <div>
    <slot />
  </div>
</details>
