---
import { Icon } from "astro-icon";

export interface Props {
  url: string;
  text: string;
  classNames?: string[];
}

const { url, text, classNames = [] } = Astro.props;
---

<a role="button" class:list={["btn", ...classNames]}>
  {text}
  <Icon name="angle-right" class="inline h-4 align-middle" />
</a>
