---
import { Icon } from "astro-icon";

export interface Props {
  url: string;
  text: string;
  classNames?: string[];
}

const { url, text, classNames = [] } = Astro.props;
---

<a role="button" href={url} class:list={["btn", ...classNames]}>
  {text}
  <Icon name="angle-right" />
</a>
