@import url("./fonts.css");
@import url("./tabs.css");
/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply text-white bg-darkviolet/80;
}

@layer components {
  .widget-title {
    @apply text-3xl font-medium whitespace-nowrap;
  }

  .btn {
    @apply inline-flex flex-nowrap gap-2 items-center text-maxpurple bg-white py-1 pl-4 pr-3 rounded-lg border border-maxpurple font-medium;

    svg {
      @apply h-3;
    }

    &-lg {
      @apply text-lg py-1.5;

      svg {
        @apply h-3.5;
      }
    }

    &-xl {
      @apply text-xl;

      svg {
        @apply h-4;
      }
    }

    &-reversed {
      @apply text-white bg-maxpurple;
    }

    &-darkviolet {
      @apply text-darkviolet border-darkviolet;
    }

    &-darkviolet-reversed {
      @apply text-white bg-darkviolet;
    }

    &-gray {
      @apply text-black border-gray-400;
    }

    &-arrow-maxpurple {
      & svg {
        @apply text-maxpurple;
      }
    }

    &-arrow-darkviolet {
      & svg {
        @apply text-darkviolet;
      }
    }

    &-arrow-rebeccapurple {
      & svg {
        @apply text-rebeccapurple;
      }
    }
  }
}

.bio {
  & > * {
    @apply md:pl-44;
  }

  & > p:has(img) {
    @apply md:w-36 md:float-left md:m-4 md:pl-0;
  }

  & > h4 {
    @apply max-md:text-center;
  }

  &::after {
    content: "";
    clear: both;
    display: table;  
  }

  & > p {
    @apply text-base;
  }

  & img {
    @apply max-md:max-h-60;
  }
}