---
import Footer from "@components/footer/Footer.astro";
import Header from "@components/header/Header.astro";
import type { Language } from "@libs/language";

export interface Props {
  title: string;
  language: Language;
}

const { title, language } = Astro.props;
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="overflow-y-scroll">
    <Header language={language} />
    <slot />
    <Footer language={language} />
  </body>
</html>
