@import "bootstrap/scss/functions";

// Override bootstrap variables
$body-bg: rgb(255, 255, 255);
$body-color: #111;
$primary: #0074d9;
$font-family-base: Helvetica, Tahoma, Arial, "PingFang TC", "Heiti TC",
    "微軟正黑體", "Microsoft JhengHei", "Noto Sans CJK", sans-serif;

// import bootstrap modules
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
