---
import { getEntryBySlug } from "astro:content";
import Base, { Props as BaseProps } from "./Base.astro";
import Breadcrumbs from "@components/section/Breadcrumbs.astro";
import Container from "@components/common/Container.astro";

export interface Props extends BaseProps {
  slug: string;
}

const { title, slug } = Astro.props;

const page = await getEntryBySlug("pages", slug);
---

<Base title={title}>
  <div><Breadcrumbs slug={slug} /></div>
  <Container classList={["py-6"]}>
    <article class="prose prose-xl max-w-none">
      <h1>{title}</h1>
      <slot />
    </article>
  </Container>
</Base>
