---
import Base, { Props as BaseProps } from "./Base.astro";
import Breadcrumbs, { getLinks } from "@components/section/Breadcrumbs.astro";
import Container from "@components/common/Container.astro";
import { getSite } from "@libs/site";
import { getLanguageBySlug } from "@libs/language";

export interface Props extends BaseProps {
  slug: string;
}

const { title, slug } = Astro.props;

const language = getLanguageBySlug(slug);
const site = getSite(language);

const links = await getLinks(slug, false);
const pageTitle = [
  title,
  ...links.map((link) => link.title).reverse(),
  site.shortTitle,
].join(" - ");
---

<Base title={pageTitle} language={language}>
  <div><Breadcrumbs slug={slug} /></div>
  <Container classList={["py-6"]}>
    <article class="prose prose-xl max-w-none">
      <h1>{title}</h1>
      <slot />
    </article>
  </Container>
</Base>
